:root {
    --my-skin-color: bisque;
    --my-hair-color: #3c2a1f;
    --my-eye-color: black;
    --my-earring-color: #7c7c7b;
    --my-shirt-color: #252628;
    --my-lip-color: #bb4d4d;
    --my-face-shadow: 0 2px 4px rgba(0,0,0,0.2);
    --my-inset-shadow: 0 2px 4px rgba(0,0,0,0.19);
    --my-top-shadow: 0 10px 4px -10px rgba(0,0,0,0.9);
}

@keyframes blink {
    0%, 95%, 100% { visibility: hidden; }
    97% { visibility: visible; }
}

.my-avatar-container {
    width: var(--avatar-container-size);
    height: var(--avatar-container-size);
    background-color: rgb(99, 204, 204);
    border-radius: 50%;
    position: relative;
}

.my-hair {
    width: 220px;
    height: 160px;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 250px solid var(--my-hair-color);
    z-index: 0;
    position: absolute;
    top: 48px;
    left: 60px;
    box-shadow: var(--my-top-shadow);
}

.my-face {
    width: 200px;
    height: 200px;
    background-color: var(--my-skin-color);
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left: 68px;
    box-shadow: var(--my-face-shadow), var(--my-inset-shadow);
}

.my-ear {
    width: 228px;
    height: 28px;
    background-color: var(--my-skin-color);
    border-radius: 50%;
    position: absolute;
    top: 140px;
    left: 56px;
    box-shadow: var(--my-inset-shadow);
}

.my-earring {
    width: 208px;
    height: 8px;
    background-color: var(--my-earring-color);
    border-radius: 25%;
    position: absolute;
    top: 160px;
    left: 64px;
    box-shadow: var(--my-inset-shadow);
}

.my-brows {
    display: flex;
    justify-content: space-around;
}

.my-brow {
    width: 40px;
    height: 12px;
    background-color: var(--my-hair-color);
    box-shadow: var(--my-inset-shadow);
}

.my-eyes {
    display: flex;
    justify-content: space-between;
}

.my-eye {
    background-color: whitesmoke;
    position: relative;
    width: 50%; /* stays relative */
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--my-face-shadow), var(--my-inset-shadow);
}

.my-eye::before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: blink 5s infinite;
    animation-delay: 0.5s;
    background-color: var(--my-skin-color);
}

.my-eye::after {
    content: '';
    position: absolute;
    background-color: var(--my-eye-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.my-nose {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid #b79f81;
    border-bottom: 20px solid transparent;
    position: absolute;
    left: 80px;
    top: 112px;
    z-index: 2;
}

.my-mouth {
    width: 40px;
    height: 8px;
    background-color: var(--my-lip-color);
    transform: rotate(200deg);
    margin: 20px 60px;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.my-body {
    border-left: 92px solid transparent;
    border-right: 92px solid transparent;
    border-bottom: 60px solid var(--my-shirt-color);
    margin-top: 48px;
    box-shadow: var(--my-top-shadow);
}
