/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background: #c4941b;
}

:root {
    --avatar-container-size: 340px;
}

.avatar-container {
    width: var(--avatar-container-size);
    height: var(--avatar-container-size);
    border-radius: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}